# このファイルについて
- このファイルは Cline に対する指示を記載しており、Cline はこのファイルの指示に従う必要があります
- このファイルは markdown で記載されます


## コミットメッセージについて
- コミットメッセージは "<gitmoji> <description>" の形式で作成します
  - "<gitmoji>" は https://gitmoji.dev/ を参考にし、最も適切な一文字を適用します
  - "<description>" は commit の内容を英語で 80 文字以内で記載します

## コミット時の挙動について
- git commit を実行すると pre-commit が実行されます
- エラーが発生した場合は、以下の対応を行います
  - エラーメッセージを表示し、修正方法を提示します
  - 修正後、再度 git commit を実行するように促します

## Python のコードについて
- Python のコードは PEP8 に従って記載します
- 一行の長さは 120 文字以内とします
- クラス名は PascalCase を使用します
- メソッド名は snake_case を使用します
- 定数は UPPER_SNAKE_CASE を使用します
- メソッドの処理は 80 行以下に収めるようにします
- メソッドの docstring は必ず記載します
  - docstring は Google スタイルで記載します
- 全ての変数及び引数は type hint を記載します
  - Union は使用せず `a | b` の形式で記載します
- 変数が None になる可能性がある場合は、常に Optional を使用します
